@charset "utf-8";

/* ----------------------------------

  共通CSS

---------------------------------- */

* {
  font-size: 12px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: YuGothic,'Yu Gothic',sans-serif;
  color: #fff;
  height: 100vh;
  height: -webkit-fill-available;
  -webkit-text-size-adjust: 100%;
}

figure {
  margin: 0;
  overflow: hidden;
}

body {
  user-select: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 18px;
  }
}

/* ----------------------------------

  slide

---------------------------------- */

.slide {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}

.slide__outer, .slide__inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.slide__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.slide__container {
  width: 100%;
  padding: 16px;
  margin: 0 auto;
}

.slide__heading {
  max-width: 460px;
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-shadow: 1px 1px 4px #333;
}

.slide__break,
.slide__break--sp {
  display: block;
  font-size: inherit;
}

.slide__break--pc {
  font-size: inherit;
}

.slide__detail {
  margin-top: 16px;
  text-shadow: 1px 1px 4px #333;
}

.slide__detail dt:nth-child(n + 2) {
  margin-top: 12px;
}

.slide__button {
  margin-top: 14px;
  background-color: #fff;
  border-radius: 2px;
  max-width: 210px;
  overflow: hidden;
  box-shadow: 1px 1px 4px #333;
}

.slide__link {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  padding-right: 18px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

.slide__link--icon {
  margin-left: auto;
}

.slide:nth-of-type(1) {
  visibility: visible;
}

.slide__image {
  position: absolute;
  inset: 0 auto auto 0;
  z-index: -1;
  overflow: hidden;
}

.slide__image::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#333 65%, transparent 70%);
  background-size: 3px 3px;
  background-position: 0px 0px;
  position: absolute;
  z-index: 0;
  inset: 0 auto auto 0;
  z-index: 0;
}

.slide__image img {
  object-fit: cover;
  height: 100vh;
  width: auto;
}

.overlay {
  display: none;
}

.guidance {
  position: fixed;
  inset: auto -28px -42px auto;
  z-index: 100;
}

.guidance__text {
  position:relative;
  width: 110px;
  height: 110px;
  text-align: center;
  margin: 0;
  font-weight: 700;
  opacity: .6;
  animation: rotation 16s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.guidance__text span {
  position: absolute;
  top: 0;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  width: 8px;
  height: 55px;
  transform-origin: center bottom; 
}

.guidance__text span:nth-child(1) {
  transform: rotate(20deg);
}

.guidance__text span:nth-child(2) {
  transform: rotate(40deg);
}

.guidance__text span:nth-child(3) {
  transform: rotate(60deg);
}

.guidance__text span:nth-child(4) {
  transform: rotate(80deg);
}

.guidance__text span:nth-child(5) {
  transform: rotate(100deg);
}

.guidance__text span:nth-child(6) {
  transform: rotate(120deg);
}

.guidance__text span:nth-child(7) {
  transform: rotate(140deg);
}

.guidance__text span:nth-child(8) {
  transform: rotate(160deg);
}

.guidance__text span:nth-child(9) {
  transform: rotate(180deg);
}

.guidance__text span:nth-child(10) {
  transform: rotate(200deg);
}

.guidance__text span:nth-child(11) {
  transform: rotate(220deg);
}

.guidance__text span:nth-child(12) {
  transform: rotate(240deg);
}

.guidance__text span:nth-child(13) {
  transform: rotate(260deg);
}

.guidance__text span:nth-child(14) {
  transform: rotate(280deg);
}

.guidance__text span:nth-child(15) {
  transform: rotate(300deg);
}

.guidance__text span:nth-child(16) {
  transform: rotate(320deg);
}

.guidance__text span:nth-child(17) {
  transform: rotate(340deg);
}

.guidance__text span:nth-child(18) {
  transform: rotate(360deg);
}

@media screen and (min-width: 768px) {
  .slide__container {
    max-width: 1280px;
    padding: 40px;
  }

  .slide__heading {
    max-width: 680px;
    font-size: 56px;
  }

  .slide__break--sp {
    display: inline;
  }

  .slide__break--pc {
    display: block;
  }

  .slide__detail {
    margin-top: 16px;
  }

  .slide__detail dt:nth-child(n + 2) {
    margin-top: 16px;
  }

  .slide__button {
    margin-top: 20px;
    max-width: 230px;
  }

  .slide__link {
    padding: 14px;
    padding-right: 20px;
    font-size: 18px;
  }

  .slide__link--icon {
    width: 18px;
    height: auto;
  }

  .slide__image img {
    width: 100vw;
  }

  .guidance {
    position: fixed;
    bottom: -42px;
    right: -28px;
  }

  .guidance__text {
    width: 160px;
    height: 160px;
  }

  .guidance__text span {
    font-size: 18px;
    width: 14px;
    height: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .overlay {
    display: block;
    position: fixed;
    inset: 5.5vw 10vw auto auto;
    z-index: 2;
    opacity: .7;
  }

  .overlay__count {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 110px;
    font-family: 'Tahoma',sans-serif;
  }

  .count {
    font-size: 110px;
  }
}